.main-container {
  background-color: var(--black_alternative);
  color: var(--white_alternative);
  width: 100%;
  height: calc(var(--vh, 1vh) * 85);
  border-radius: 0 0 3.3rem 3.3rem;
  box-shadow: 0 3px 10px 1px #000000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 130px 2.5rem 0 2.5rem;
}

.profile-picture {
  margin: 2.5rem 0;
  border-radius: 30%;
  box-shadow: 0 0 25px 2px var(--yellow);
}

.contact {
  border: 1px solid var(--white);
  border-radius: 25px;
  cursor: pointer;
  margin: 2rem;
  background-color: transparent;
  transition: background-color 0.8s;
}

.contact p {
  font-family: var(--font-josefin-sans);
  font-style: light;
  color: var(--white);
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 12px;
  text-align: center;
}

.contact:hover {
  background-color: var(--yellow);
}

.contact:hover p {
  color: var(--black);
  font-weight: 800;
}

.infoImage {
  box-shadow: 0 0 10px black;
}

@media (min-width: 1024px) {
  .main-container {
    padding: 150px 8rem 0 8rem;
  }

  .main-container h1,
  .main-container h2 {
    font-size: 3.5rem;
    line-height: 5rem;
  }
}

@media (min-height: 850px) {
  .profile-picture {
    margin: 3.5rem 0;
  }
}

@media (max-height: 800px) {
  .spaceship {
    top: -4rem;
  }

  .spaceship img {
    width: 170px;
  }

  .profile-picture {
    margin: 1rem 0;
  }
}

@media (max-height: 700px) {
  .main-container {
    padding-top: 100px;
  }
  .spaceship {
    top: -3rem;
  }

  .spaceship img {
    width: 150px;
  }

  .profile-picture {
    margin: 0.5rem 0;
  }
}
