/* @tailwind utilities; */
.downloadButton {
  @apply bg-black-secondary py-3 px-5 rounded-lg w-fit mx-auto mb-28;
  transition: all 0.3s ease;
}

.downloadButton:hover {
  @apply shadow-lg;
  transform: translateY(-2px);
}

.downloadText {
  @apply font-libre text-3xl text-white-primary italic cursor-pointer flex items-center gap-4;
  transition: opacity 0.3s ease;
}

.downloadText:hover {
  @apply opacity-80;
}

.downloadIcon {
  transition: transform 0.3s ease;
}

.downloadText:hover .downloadIcon {
  transform: translateX(4px);
}
