@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black_alternative: #1e1e1e;
  --white_alternative: #fafafa;
  --yellow-alternative: #f2df6b;
  --black: #292826;
  --white: #f0f0f0;
  --yellow: #f8d78f;
}

body {
  background-color: var(--white);
}

h1 {
  font-family: var(--font-libre-baskerville);
  font-style: italic;
  font-size: 2rem;
  line-height: 1.2;
}

p {
  font-family: var(--font-josefin-sans);
  font-style: light;
  font-size: 1.2rem;
  line-height: 1.5;
}

.first-section-content {
  background-image: url('/images/space_bg.gif');
  background-size: cover;
  background-position: center;
  color: var(--white_alternative);
  width: 100%;
  height: calc(var(--vh, 1vh) * 90);
  border-radius: 0 0 3.3rem 3.3rem;
  box-shadow: 0 20px 50px #929292;
}

.welcoming-section {
  margin-top: calc(var(--vh, 1vh) * 15);
}

.welcoming-text {
  font-family: var(--font-libre-baskerville);
  font-style: light;
  font-size: 2rem;
  line-height: 1.5;
}

.role-text {
  font-family: var(--font-libre-baskerville);
  font-size: 3.5rem;
  color: var(--yellow);
  text-align: right;
  margin-top: calc(var(--vh, 1vh) * 15);
  line-height: 4rem;
}

.astronaut-image {
  max-width: 50%;
}

.main-content {
  background-color: var(--white_alternative);
}
