@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black_alternative: #1e1e1e;
  --white_alternative: #fafafa;
  --yellow-alternative: #f2df6b;
  --black: #292826;
  --white: #f0f0f0;
  --yellow: #f8d78f;
}

body {
  background-color: var(--white);
}

h1 {
  font-family: var(--font-libre-baskerville);
  font-style: italic;
  font-size: 2.25rem;
  line-height: 1.2;
}

p {
  font-family: var(--font-josefin-sans);
  font-style: light;
  font-size: 1.2rem;
  line-height: 1.5;
}

