.inner {
  background-color: var(--black_alternative);
}

.inner .page {
  background-color: var(--white_alternative);
}

.inner .slide {
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--white_alternative);
  z-index: 60;
}
