.balloons-container {
  position: relative;
  width: 200px;
  height: 200px;
}

.aboutButton {
  @apply bg-white-secondary py-2 px-6 rounded-lg relative z-40;
  transition: all 0.3s ease;
}

.aboutButton:hover {
  @apply shadow-lg;
  transform: translateY(-2px);
}

.aboutText {
  @apply font-libre text-4xl underline text-black-primary italic cursor-pointer;
  transition: opacity 0.3s ease;
}

.aboutText:hover {
  @apply opacity-50;
}
