.nav p {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.social {
  font-family: var(--font-josefin-sans);
}

.social h4 {
  font-size: 1rem;
  line-height: 2.5rem;
  font-weight: 600;
}

.social p {
  font-size: 0.9rem;
}

.nav .hint {
  font-size: 0.9rem;
  line-height: 1.2rem;
}
